<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portofolio - Khalisha Nalani Chandra</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container nav-container">
                <a href="{% url 'main:show_main' %}" class="nav-brand">Khalisha Nalani Chandra's Portofolio</a>
                <ul class="nav-links">
                    <li><a href="{% url 'main:show_main' %}">Home</a></li>
                    <li><a href="{% url 'main:show_education' %}">Education</a></li>
                    <li><a href="{% url 'main:show_skills' %}">Skills</a></li>
                    <li><a href="{% url 'main:show_experience' %}">Experience</a></li>
                    <li><a href="{% url 'main:show_projects' %}">Projects</a></li>
                    {% if user.is_authenticated %}
                        <li><span class="nav-user">{{ user.username }}</span></li>
                        <li><a href="{% url 'main:logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'main:login' %}">Login</a></li>
                        <li><a href="{% url 'main:register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}

</body>
</html>
